<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SurveyMonkeyAuthToken" value="TokenValue"/>
    <add key="SurveyMonkeyApiKey" value="KeyValue"/>
  </appSettings>
</configuration>
